body {
  font-family: 'Poppins', Arial;
}

p {
  font-size: 20px;
}

#section-form {
margin-bottom: 300px;
}

#section-form  textarea {
height: 200px;
}

/* navbar styles */
.navbar-brand {
  font-weight: 600;
  font-size: 20px;
  padding-right: 10px;
  border-right: 9px solid black;
}

.channel-name {
  font-weight: 400;
  font-size: 18px;
  color: black;
}

.channel-name:hover {
  text-decoration: none;
  color: black;
}

.btn-green {
  background-color: #199F38;
}

#login {
height: 100%;
}

#login {
margin-top: -56px;
position: relative;
color: white;
height: 100vh;
background-color: #11eecc;
background-image: linear-gradient(180deg, #11eecc 0%, #2AF598 100%);
}

.login-height {
height: 100vh;
}

#login .p-2 {
width: 350px;
}
